<div class="checkout-section po-section">
    <div class="title section-title">{{ title_page }}</div>
    {#<label class="control-label" style="color: rgb(181, 181, 181);">{{ entry_po_number }}</label>#}
    <div class="input-group">
        <input type="text" placeholder="{{ entry_po_number }}" name="po_number" id="input-po-number" class="form-control"/>
    </div>
</div>